*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .line{
    background-color:#e5e573 ;
    height:3px ;
    width:0vmin;
    position: absolute;
    background-color: rgb(222, 7, 7);
    transition: width 1s ease-in-out; 
 }  */

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box:hover{
    background-color: aqua;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
   font-size: 8vmin;
   color: rgb(222, 7, 7);
   background-color: #9b9b46;
   cursor: pointer;
   
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 0.7rem;
    color: #fff;
    border: none;
    cursor: pointer;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 110vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}